<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>ToDo List</title>
</head>
<body th:background="@{/images/bg_todo.jpg}" th:width="1920">

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/index}">ToDo List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" opacity="3">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/allTasks}">All tasks</a>
                <a class="nav-item nav-link active" href="#">New Tasks<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" th:href="@{/finishedTasks}">Finished Tasks</a>
                <a class="nav-item nav-link" th:href="@{/profile}">Profile</a>
                <a class="nav-item nav-link" th:if="${user.name == 'Guest'}" th:href="@{/loginPage}">
                    <span th:text="${user.name}"></span>
                    <span> | Log in</span>
                </a>
                <a class="nav-item nav-link" th:if="${user.name != 'Guest'}" th:href="@{/logout}">
                    <span th:text="${user.name}"></span>
                    <span> | Log out</span>
                </a>
            </div>
        </div>
    </nav>
    <br/>
    <br/>
    <h2 align="center">New Tasks:</h2>
    <br/>
    <div class="card">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Task description</th>
                <th scope="col">Task priority</th>
                <th scope="col">User</th>
                <th scope="col">Task category</th>
                <th scope="col">Created / Timezone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${newTasks}">
                <th>
                    <a th:href="@{|/formTaskDesc/${task.id}|}" th:text="${task.description}"></a>
                </th>
                <th>
                    <span th:text="${task.priority.name}"></span>
                </th>
                <th>
                    <span th:text="${task.user.name}"></span>
                </th>
                <th>
                    <a th:each="category: ${task.categories}">
                        <span th:utext="${category.name + '<br>'}"></span>
                    </a>
                </th>
                <th>
                    <span th:text="${task.created + ' / ' + task.user.timezone}"></span>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="vertical-center">
        <form th:action="@{/newTask}" method="GET" th:align="center">
            <button type="submit" class="btn btn-primary">Create new task</button>
        </form>
    </div>
</div>
</body>
</html>


